<template>
  <v-layout column>
    <v-row>
      <v-col cols="12" md="6">
          <v-card v-if="!loading">
            <v-card-title class="justify-space-between">
              <span>{{ student.firstname }} {{ student.lastname }}</span>
              <v-btn
                link
                text
                color="primary"
                :to="'/classrooms/' + student.classroom._id"
                >{{ student.classroom.year }}{{ student.classroom.name }}
              </v-btn>
            </v-card-title>
            <v-card-text> Hallo </v-card-text>
            <v-card-actions>
              <v-dialog v-model="contactDialog" scrollable max-width="450px">
                <template v-slot:activator="{ on }">
                  <v-btn color="info" outlined v-on="on">Contact</v-btn>
                </template>
                <v-card>
                  <v-card-title>View Contact Methods</v-card-title>
                  <v-divider></v-divider>
                  <v-card-text style="height: 300px">
                    <v-list v-if="student.contact.length">
                      <v-list-item-group color="primary">
                        <v-list-item
                          v-for="(contact, i) in student.contact"
                          :key="i"
                        >
                          <v-list-item-icon>
                            <v-icon v-text="contact.icon"></v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title
                              v-text="contact.value"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-text="contact.owner"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                    <v-layout
                      v-else
                      align-center
                      justify-center
                      fill-height
                      column
                    >
                      <v-icon size="120" class="mb-3"
                        >mdi-help-circle-outline</v-icon
                      >
                      <v-btn
                        color="primary"
                        :to="'/students/' + student.uid + '/edit'"
                        >Add</v-btn
                      >
                    </v-layout>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-btn text @click="contactDialog = false">Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- <v-dialog
                v-model="chatDialog"
                scrollable
                max-width="600px"
                @click:outside="$refs.chat.clearMessage()"
              >
                <template v-slot:activator="{ on }">
                  <v-btn color="info" outlined class="ml-2" v-on="on"
                    >Chat</v-btn
                  >
                </template>
                <chat ref="chat" height="450px" @close="chatDialog = false" />
              </v-dialog> -->

              <v-spacer></v-spacer>
              <v-btn text :to="'/students/' + student._id + '/edit'"
                >Edit</v-btn
              >
            </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
// const StudentHistory = () =>
//   import('~/components/StudentHistory/StudentHistory.vue')
// const Chat = () => import('~/components/Chat/Chat.vue')

export default {
  // components: {
  //   StudentHistory,
  //   Chat
  // },
  data: () => ({
    contactDialog: false,
    chatDialog: false,
    loading: true,
    transition: 'scale-transition',
    student: null,
  }),
  async fetch() {
    console.log($nuxt.$route.params.id)
    try {
      this.student = await this.$axios.$get(
        '/students/' + $nuxt.$route.params.id
      )

      this.loading = false
    } catch (err) {
      console.log(err)
    }
  },
}
</script>