<template>
  <v-card outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">OVERLINE</div>
        <v-list-item-title class="headline mb-1">
          {{ person.firstname }} {{ person.lastname }}
        </v-list-item-title>
        <v-list-item-subtitle
          >Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle
        >
      </v-list-item-content>

      <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <v-btn outlined rounded text nuxt :to="type + 's/' + person._id"> Button </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data() {
    return {}
  },
  props: {
    person: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: true
    }
  },
}
</script>