<template>
  <v-row v-if="!loading">
    <v-col
      v-for="classroom in classrooms"
      :key="classroom._id"
      cols="12"
      sm="4"
      md="3"
    >
      <div>{{ classroom.name }}</div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      classrooms: [],
      loading: true,
    }
  },
  async fetch() {
    this.classrooms = await this.$axios.$get('/classrooms')
    this.loading = false
  },
}
</script>
