<template>
  <v-row v-if="!loading">
    <v-col
      v-for="teacher in teachers"
      :key="teacher._id"
      cols="12"
      sm="4"
      md="3"
    >
      <div>{{ teacher.firstname }}</div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      teachers: [],
      loading: true,
    }
  },
  async fetch() {
    this.teachers = await this.$axios.$get('/teachers')
    this.loading = false
  },
}
</script>
